<ion-content>
  <div class="login-form-container">
    <form class="login-form">
      <div class="form-input">
        <ion-item>
          <ion-input type="text" name="username" placeholder="Username" required></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-item>
          <ion-input type="password" name="password" placeholder="Password" required></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-button type="submit" routerLink="/annonces" expand="block">Login</ion-button>
      </div>
    </form>
  </div>
</ion-content>

